body {
  background-color: white;
  font-family: 'Playfair Display', serif;
  background-size: cover;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, black, #e6b106);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #e6b106, black);
}
nav {
  display: flex;
  font-family: 'system-ui', sans-serif;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  height: 75px;
}
.navs {
  flex: 1;
  text-align: right;
  margin-right: 3%;
}
.navs ul li:hover {
  transform: scale(1.3);
  z-index: 2;
}
.navs ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 3px 12px;
  transition: 1s;
  font-weight: bold;
}

.navs ul li a {
  text-decoration: none;
  font-size: 20px;

  color: black;
  font-weight: 400px;
}
.navs ul li a .fas {
  font-size: 33px;
  cursor: pointer;
}

.navs ul li a:hover {
  color: #e6b106;
}

.logo {
  height: 25px;
  width: 25px;
  color: #e6b106;
  font-family: 'Satisfy', cursive;
  font-weight: bolder;
  margin-left: 150px;
  font-size: 70px;
  margin-top: 0px;
}
span {
  color: black;
  margin-top: 1px;
}
footer {
  background-color: black;
  height: 310px;
  position: relative;
  top: 200px;
  left: 0;
  bottom: 0;
  width: 100%;
}
.col1 {
  position: absolute;
  color: rgba(255, 255, 255, 0.671);
  left: 30%;
}
.col2 {
  position: absolute;
  color: rgba(255, 255, 255, 0.801);
  left: 80%;
}
.col3 {
  position: absolute;
  color: rgba(255, 255, 255, 0.801);
  left: 5%;
}
.col4 {
  position: absolute;
  color: rgba(255, 255, 255, 0.801);
  left: 60%;
}
.col4 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}
.col1 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}
.col2 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}
.col3 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}

.hr2 {
  position: absolute;
  height: 0.1px;
  opacity: 70%;
  background-color: rgba(255, 255, 255, 0.801);
  width: 600px;
  top: 75%;
  left: 28%;
}
.copy {
  position: absolute;
  top: 80%;
  left: 40%;
  color: rgba(255, 255, 255, 0.801);
}
h3 {
  font-size: 20px;
  font-weight: 300;
}
h4 {
  font-size: 15px;
  font-weight: 200;
  opacity: 70%;
}

.type1 {
  top: 860px;
  left: 49%;
  color: #e6b106;
  font-weight: bold;
  font-size: 25px;
}
.type2 {
  top: 915px;
  left: 49%;

  color: #e6b106;
  font-weight: bold;
  font-size: 25px;
}
.form-label {
  color: black;
  font-size: 20px;
}
.policy {
  font-weight: bold;
  color: #e6b106;
  font-size: 15px;
}

.comp-icon i {
  -webkit-animation: arrow 0.9s infinite alternate;
  animation: arrow 0.9s linear infinite alternate;
}
@keyframes arrow {
  50% {
    opacity: 0;
    transform: scale(0.7) translate3d(5px);
  }
}
.btn {
  width: 150px;
  height: 30px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 20px;
  padding-left: 30px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  margin: 1rem auto;
}
.btn:hover {
  color: black;
  background-color: #f3f5f7;
}

@media (max-width: 500px) {
  .navs ul li a {
    font-size: 10px;
  }
  .navs ul li a .fas {
    font-size: 20px;
  }
  footer {
    width: 100%;
    height: 290px;
    position: relative;
    top: 250px;
  }
  .rate-btn{
    width:3px;
    font-size:px;
  }
  .hr2 {
    width: 250px;
    left: 25%;
  }
  .copy {
    font-size: 10px;
    left: 35%;
  }
  h3 {
    font-size: 13px;
    font-weight: 300;
  }
  h4 {
    font-size: 13px;
    font-weight: 200;
    opacity: 70%;
  }
  .col1 {
    left: 20%;
  }
  .col2 {
    left: 70%;
  }
  .col3 {
    left: 2%;
  }
  .col4 {
    left: 45%;
  }
  .logo {
    height: 20px;
    width: 20px;
    margin-left: 7%;
    font-size: 50px;
  }
  p .comp-paragraph{
   font-size: 8px;
   min-height:200px;

  }
  .comp-form {
    width:400px;
    height: 900px;
    margin-left: 5%;
  }

  .input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-width: 20px;
  }
  
  .comp-select {
    height: 20px;
    min-width: 30px;
    padding: 0.5rem;
  }
  
  textarea::placeholder {
    font-size: 10px;
    padding-top: 20px;
  }
  .text-center {
    text-align: center;
  }
  .d-block {
    border-radius: 20px;
    margin-left:2% ;
  }
  .form-label{
    font-size: 13px;
  }
  .comp-p2 {
    font-size: 20px;
  }

  .comp-form .btn {
    width: 90px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    margin-left: -150%;
    margin-top: 30%;
   padding: 20px 20px;
  }
}

.comp-form {
  margin: 1rem auto;
  background-color: white;
  min-height: 450px;
  max-width: 750px;
  border: black 1px solid;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 4px 4px 5px 6px gray;
}
.com-form {
  display: flex;

  flex-wrap: wrap;
}
.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 1rem; 
}

.comp-select {
  min-height: 10px;
  min-width: 50px;
  padding: 0.5rem;
  background-color: white;
  border-radius: 1rem;
  border-color: black;
}

.comp-paragraph {
  min-height: 125px;
  width: 100%;
  background-color: #f3f5f7;
  text-align: center;
  color: black;
  font-size: 27px;
  margin-top: 7%;
  width: 100%;
}
textarea::placeholder {
  font-size: 20px;
  text-align: center;
  padding-top: 50px;
}
.text-center {
  text-align: center;
}
.d-block {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}

.comp-p2 {
  font-size: 35px;
  font-weight: bold;
  color: black;
  text-align: center;
}
.comp-icon {
  font-size: 30px;
  margin: 1rem;
  color: #e6b106;
  display: block;
  text-align: center;
}
.btn {
  width: 150px;
  height: 30px;
  background-color: black;
  border: black solid 1px;
  margin-top: 20px;
  margin-left: 280px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 18px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  color: white;
}
.rate-btn .btn {
  display: block;
  background-color: black;
  border: #e6b106 solid 2px;
  padding-right: 30px;
  margin-top: 5%;
  margin-left: 10%;

  height: 30px;
  width: 140px;
  text-align: center;
}
.rate-btn button:hover {
  background-color: #e6b106;
  color: black;
}

.auto-popup {
  height: 360px;
  width: 500px;
  background-color: #fff;
  border: black solid 1px;
  position: absolute;
  transform: translate(-50%, 50%);
  top: 140%;
  left: 50%;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 4px 4px 5px 6px gray;
  border: black solid 3px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

#popup9.active {
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
}

.auto {
  position: absolute;
  top: 25%;
  left: 15%;
  height: 100px;
  width: 350px;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
}
.stars i {
  color: transparent;
  cursor: pointer;
  color: #cccccc;
  margin-top: 24%;
  height: 10px;
  width: 55px;
}

form .stars {
  font-size: 10px;
}

.del {
  width: 100px;
  height: 20px;
  background-color: white;
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 10px;
}

span strong {
  color: #e6b106;
  padding: 0 30px;
  font-family: sans-serif;
}

em {
  color: #e6b106;
  display: block;
  font-family: sans-serif;
  font-style: normal;
}
.auto-form button {
  position: fixed;
  top: 300px;
  left: 200px;
  width: 100px;
  height: 40px;
  background-color: #e6b106;
  color: white;
  border-style: none;
  border-radius: 30px;
  font-size: 18px;
}
button:hover {
  color: white;
  background-color: #e6b106;
  transform: scale(1.3);
  z-index: 2;
}
.container1 {
  transition: 0.5s;
  position: relative;
  width: 100%;
  height: 100vh;
}
.container1#blur.active {
  filter: blur(20px);

  pointer-events: none;
  user-select: none;
}
