body {
  background-color: white;
  font-family: 'Playfair Display', serif;
  background-size: cover;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, black, #e6b106);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #e6b106, black);
}
nav {
  display: flex;
  font-family: 'system-ui', sans-serif;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  height: 75px;
}
nav img {
  margin-left: 50px;

  width: 120px;
}
.navs {
  flex: 1;
  text-align: right;
  margin-right: 3%;
}
.navs ul li:hover {
  transform: scale(1.3);
  z-index: 2;
}
.navs ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 3px 12px;
  transition: 1s;
  font-weight: bold;
}

.navs ul li a {
  text-decoration: none;
  font-size: 20px;

  color: black;
  font-weight: 400px;
}
.navs ul li a .fas {
  font-size: 33px;
  cursor: pointer;
}

.navs ul li a:hover {
  color: #e6b106;
}

.logo {
  height: 25px;
  width: 25px;
  color: #e6b106;
  font-family: 'Satisfy', cursive;
  font-weight: bolder;
  margin-left: 150px;
  font-size: 70px;
  margin-top: 0px;
}
span {
  color: black;
  margin-top: 1px;
}

footer {
  background-color: black;
  height: 310px;
  position: relative;
  top: 600px;
  left: 0;
  bottom: 0;
  width: 100%;
}
.col1 {
  position: absolute;
  color: rgba(255, 255, 255, 0.671);
  left: 30%;
}
.col2 {
  position: absolute;
  color: rgba(255, 255, 255, 0.801);
  left: 80%;
}
.col3 {
  position: absolute;
  color: rgba(255, 255, 255, 0.801);
  left: 5%;
}
.col4 {
  position: absolute;
  color: rgba(255, 255, 255, 0.801);
  left: 60%;
}
.col4 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}
.col1 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}
.col2 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}
.col3 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}

.hr2 {
  position: absolute;
  height: 0.1px;
  opacity: 70%;
  background-color: rgba(255, 255, 255, 0.801);
  width: 600px;
  top: 75%;
  left: 28%;
}
.copy {
  position: absolute;
  top: 80%;
  left: 40%;
  color: rgba(255, 255, 255, 0.801);
}
h3 {
  font-size: 20px;
  font-weight: 300;
}
h4 {
  font-size: 15px;
  font-weight: 200;
  opacity: 70%;
}

.img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  margin: 15px;
  cursor: pointer;
  transition: 1s;
}

.img:hover {
  transform: scale(1.3);
  z-index: 2;
}
.onee {
  position: absolute;
  padding-top: 200px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 35%;
}

.twoo {
  position: absolute;
  top: 70%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 35%;
}
.p1 {
  position: absolute;
  top: 20%;
  padding-top: 20px;
  height: 70px;
  width: 99%;
  background-color: #f3f5f7;
  text-align: center;
  color: black;
  font-size: 35px;
}
@media (max-width: 700px) {
  .navs ul li a {
    font-size: 15px;
  }
  .navs ul li a .fas {
    font-size: 25px;
  }
  footer {
    width: 100%;
    height: 290px;
    top: 500px;
  }
  .hr2 {
    width: 300px;
    left: 25%;
  }
  .copy {
    font-size: 10px;
    left: 35%;
  }
  h3 {
    font-size: 15px;
    font-weight: 300;
  }
  h4 {
    font-size: 10px;
    font-weight: 200;
    opacity: 70%;
  }
  .col1 {
    left: 25%;
  }
  .col2 {
    left: 75%;
  }
  .col3 {
    left: 2%;
  }
  .col4 {
    left: 50%;
  }
  .logo {
    height: 25px;
    width: 25px;
    margin-left: 10%;
    font-size: 55px;
  }
  .container {
    position: absolute;
    left: 30%;
  }
  .img {
    height: 70px;
    width: 70px;
    margin: 10px;
  }
  .onee {
    top: 50%;
    left: 100%;
  }

  .twoo {
    top: 60%;
    left: 30%;
  }
  .p1 {
    top: 20%;
    padding-top: 20px;
    height: 60px;
    width: 98%;
    font-size: 30px;
  }
}
