body {
  background-color: white;
  font-family: 'Playfair Display', serif;
}

li {
  display: inline-block;
  list-style: none;
}

ul {
  margin-top: 3%;
}

.hr1 {
  width: 300px;
  height: 2px;
  background-color: #e6b106;
  margin-left: 0%;
  margin-top: 8%;
}

p {
  color: #e6b106;
  font-size: 35px;
  font-weight: bold;
}

span {
  color: black;
  margin-top: 1px;
}

.loginimg {
  margin-left: 63%;
  margin-top: 5%;
}

.triangle {
  background-color: white;
  height: 70vh;
  width: 73vh;
  margin-left: 20%;
  margin-top: -78%;
  border-radius: 20px;
  position: relative;
  box-shadow: 3px 3px 3px 3px black;
  animation-name: t;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes t {
  from {
    translate: 0 0;
  }

  to {
    translate: 0 500px;
  }
}

.triangle h1 {
  color: black;
  text-align: center;
  position: relative;
  font-size: 30px;
  padding: 6%;
  text-decoration: underline;
}

.login img {
  border-radius: 90px;
  top: -5%;
  left: -13%;
  position: absolute;
}

.login .stars {
  color: #ffce38;
  margin-left: 66%;
}

.login {
  background-color: white;
  height: 60vh;
  width: 73vh;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px black;
  margin-left: -32%;
  margin-top: 12%;
  position: absolute;
  padding-top: 2%;
  top: 23%;
  left: 18%;
  animation-name: l;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes l {
  from {
    translate: 0 0;
  }

  to {
    translate: 400px 0;
  }
}

.login label {
  color: black;
  font-size: 20px;
  text-transform: capitalize;
  padding: 5%;
  margin-left: 10%;
}

.login input {
  width: 320px;
  height: 30px;
  border-radius: 15px;
  border-color: black;
  margin-left: 15%;
  margin-bottom: 2%;
  text-align: center;
  color: black;
}

.login input[type='submit'] {
  display: inline-block;
  color: #f3f5f7;
  border-radius: 20px;
  font-size: 18px;
  background: black;
  border-color: black;
  cursor: pointer;
  height: 35px;
  width: 140px;
  text-align: center;
  margin-left: 34%;
  margin-top: 7%;
}

input[type='submit']:hover {
  border: 1px solid;
  transition: 1s;
  background: #f3f5f7;
  color: black;
}

input:hover {
  transform: scale(1.1);
  z-index: 2;
}

.login div a {
  font-size: 18px;
  color: black;
  margin-left: 30%;
  text-align: center;
  margin-top: 3%;
  display: inline-block;
  padding: 0px;
}

.login div .acc {
  margin-left: 35%;
  text-decoration: none;
}

.login div .pass {
  margin-left: 32%;
  text-decoration: none;
}

.login div a:hover {
  text-decoration: underline;
  font-weight: 600;
}

footer {
  background-color: black;
  height: 310px;
  position: relative;
  top: 700px;
  left: 0;
  bottom: 0;
  width: 100%;
}
.col1 {
  position: absolute;
  color: rgba(255, 255, 255, 0.671);
  left: 30%;
}
.col2 {
  position: absolute;
  color: rgba(255, 255, 255, 0.801);
  left: 80%;
}
.col3 {
  position: absolute;
  color: rgba(255, 255, 255, 0.801);
  left: 5%;
}
.col4 {
  position: absolute;
  color: rgba(255, 255, 255, 0.801);
  left: 60%;
}
.col4 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}
.col1 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}
.col2 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}
.col3 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}

.hr2 {
  position: absolute;
  height: 0.1px;
  opacity: 70%;
  background-color: rgba(255, 255, 255, 0.801);
  width: 600px;
  top: 75%;
  left: 28%;
}
.copy {
  position: absolute;
  top: 80%;
  left: 40%;
  color: rgba(255, 255, 255, 0.801);
}
h3 {
  font-size: 20px;
  font-weight: 300;
}
h4 {
  font-size: 15px;
  font-weight: 200;
  opacity: 70%;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, black, #e6b106);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #e6b106, black);
}
.btn {
  width: 150px;
  height: 30px;
  background-color: black;
  border: black solid 1px;
  margin-top: 20px;
  margin-left: 280px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 18px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  color: white;
}
.rate-btn button {
  display: block;
  background-color: black;
  border: #e6b106 solid 2px;
  margin-top: 5%;
  margin-left: 10%;

  height: 30px;
  width: 140px;
  text-align: center;
}
.rate-btn button:hover {
  background-color: #e6b106;
  color: black;
}

@media (max-width: 700px) {
  .loginimg {
    display: none;
  }

  .triangle {
    height: 50vh;
    width: 60vh;
    margin-left: 20%;
    margin-top: -77%;
  }

  .triangle h1 {
    font-size: 25px;
    padding: 5px;
  }

  .login {
    height: 50vh;
    width: 60vh;
    margin-left: -65%;
    margin-top: 15%;
    padding-top: 2%;
    top: 23%;
    left: 18%;
  }

  .login label {
    color: black;
    font-size: 20px;
    text-transform: capitalize;
    padding: 5%;
    margin-left: 8%;
  }

  .login input {
    width: 300px;
    height: 27px;
    margin-left: 13%;
    margin-bottom: 2%;
  }
  .navs ul li a {
    font-size: 15px;
  }
  .navs ul li a .fas {
    font-size: 25px;
  }
  footer {
    width: 100%;
    height: 290px;
    position: relative;
    top: 650px;
  }
  .hr2 {
    width: 300px;
    left: 25%;
  }
  .copy {
    font-size: 10px;
    left: 35%;
  }
  h3 {
    font-size: 15px;
    font-weight: 300;
  }
  h4 {
    font-size: 10px;
    font-weight: 200;
    opacity: 70%;
  }
  .col1 {
    left: 25%;
  }
  .col2 {
    left: 75%;
  }
  .col3 {
    left: 2%;
  }
  .col4 {
    left: 50%;
  }
  .logo {
    height: 25px;
    width: 25px;
    margin-left: 10%;
    font-size: 55px;
  }
}
