body {
  background-color: white;
  font-family: 'Playfair Display', serif;
  background-size: cover;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, black, #e6b106);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #e6b106, black);
}
nav {
  display: flex;
  font-family: 'system-ui', sans-serif;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  height: 75px;
}
.navs {
  flex: 1;
  text-align: right;
  margin-right: 3%;
}
.navs ul li:hover {
  transform: scale(1.3);
  z-index: 2;
}
.navs ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 3px 12px;
  transition: 1s;
  font-weight: bold;
}

.navs ul li a {
  text-decoration: none;
  font-size: 20px;

  color: black;
  font-weight: 400px;
}
.navs ul li a .fas {
  font-size: 33px;
  cursor: pointer;
}

.navs ul li a:hover {
  color: #e6b106;
}

.logo {
  height: 25px;
  width: 25px;
  color: #e6b106;
  font-family: 'Satisfy', cursive;
  font-weight: bolder;
  margin-left: 150px;
  font-size: 70px;
  margin-top: 0px;
}
span {
  color: black;
  margin-top: 1px;
}
footer {
  background-color: black;
  height: 310px;
  position: relative;
  top: 90px;
  left: 0;
  bottom: 0;
  width: 100%;
}
.col1 {
  position: absolute;
  color: rgba(255, 255, 255, 0.671);
  left: 30%;
}
.col2 {
  position: absolute;
  color: rgba(255, 255, 255, 0.801);
  left: 80%;
}
.col3 {
  position: absolute;
  color: rgba(255, 255, 255, 0.801);
  left: 5%;
}
.col4 {
  position: absolute;
  color: rgba(255, 255, 255, 0.801);
  left: 60%;
}
.col4 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}
.col1 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}
.col2 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}
.col3 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}

.hr2 {
  position: absolute;
  height: 0.1px;
  opacity: 70%;
  background-color: rgba(255, 255, 255, 0.801);
  width: 600px;
  top: 75%;
  left: 28%;
}
.copy {
  position: absolute;
  top: 80%;
  left: 40%;
  color: rgba(255, 255, 255, 0.801);
}
h3 {
  font-size: 20px;
  font-weight: 300;
}
h4 {
  font-size: 15px;
  font-weight: 200;
  opacity: 70%;
}
.changepass {
  background-color: white;
  height: 60vh;
  width: 85vh;
  border-radius: 20px;
  box-shadow: 4px 4px 5px 6px black;
  margin-left: 30%;
  margin-top: 5%;
  padding-top: 0.5px;
  text-align: center;
}

.changepass p {
  font-size: 30px;
  color: black;
  font-weight: bold;
}

.changepass label {
  font-size: 18px;
  margin-left: 5%;
  text-align: center;
}

.changepass input {
  width: 350px;
  height: 30px;
  border-radius: 15px;
  border-color: black;
  margin-left: 7%;
  margin-top: 2%;
  margin-bottom: 3%;
  text-align: center;
}

button {
  display: inline-block;
  color: #faf5e6;
  border-radius: 20px;
  font-size: 20px;
  background: black;
  border-color: black;
  cursor: pointer;
  height: 30px;
  width: 120px;
  text-align: center;
  margin-left: 5%;
  margin-top: 0%;
}

button:hover {
  border: 1px solid;
  color: black;
  transform: scale(1.2);
  background: #faf5e6;
}

@media (max-width: 700px) {
  .navs ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 3px 12px;
    transition: 1s;
    font-weight: bold;
  }

  .navs ul li a {
    font-size: 15px;
  }
  .navs ul li a .fas {
    font-size: 25px;
  }
  footer {
    width: 100%;
    height: 290px;
    position: relative;
    top: 700px;
  }
  .hr2 {
    width: 300px;
    left: 25%;
  }
  .copy {
    font-size: 10px;
    left: 35%;
  }
  h3 {
    font-size: 15px;
    font-weight: 300;
  }
  h4 {
    font-size: 10px;
    font-weight: 200;
    opacity: 70%;
  }
  .col1 {
    left: 25%;
  }
  .col2 {
    left: 75%;
  }
  .col3 {
    left: 2%;
  }
  .col4 {
    left: 50%;
  }
  .logo {
    height: 25px;
    width: 25px;
    margin-left: 10%;
    font-size: 55px;
  }

  .changepass {
    background-color: white;
    height: 45vh;
    width: 55vh;
    border-radius: 20px;
    box-shadow: 4px 4px 5px 6px #faf5e6;
    margin-left: 8%;
    margin-top: 5%;
    padding-top: 2%;
    top: 23%;
    left: 14%;
  }

  .changepass input {
    width: 300px;
    height: 30px;
    margin-left: 12%;
  }

  .changepass input[type='submit'] {
    height: 30px;
    width: 100px;
    margin-left: 40%;
  }
}
