body {
  background-color: white;
  font-family: 'Playfair Display', serif;
  background-size: cover;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, black, #e6b106);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #e6b106, black);
}

footer {
  background-color: black;
  height: 310px;
  position: relative;
  top: 150px;
  left: 0;
  bottom: 0;
  width: 100%;
}
.col1 {
  position: absolute;
  color: rgba(255, 255, 255, 0.671);
  left: 30%;
}
.col2 {
  position: absolute;
  color: rgba(255, 255, 255, 0.801);
  left: 80%;
}
.col3 {
  position: absolute;
  color: rgba(255, 255, 255, 0.801);
  left: 5%;
}
.col4 {
  position: absolute;
  color: rgba(255, 255, 255, 0.801);
  left: 60%;
}
.col4 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}
.col1 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}
.col2 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}
.col3 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}

.hr2 {
  position: absolute;
  height: 0.1px;
  opacity: 70%;
  background-color: rgba(255, 255, 255, 0.801);
  width: 600px;
  top: 75%;
  left: 28%;
}
.copy {
  position: absolute;
  top: 80%;
  left: 40%;
  color: rgba(255, 255, 255, 0.801);
}
h3 {
  font-size: 20px;
  font-weight: 300;
}
h4 {
  font-size: 15px;
  font-weight: 200;
  opacity: 70%;
}
.all {
  display: flex;
}
.side {
  color: black;
  font-size: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 150px;
  margin-right: 50px;
  margin-left: 40px;
}
.arrow i {
  color: #e6b106;
  font-size: 80px;
  margin-left: 20;
  margin-top: 270px;
  margin-right: 45px;
  animation-name: arrow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
.side span {
  color: #e6b106;
  font-size: 50px;
  margin-left: 70px;
}

@keyframes arrow {
  50% {
    opacity: 0;
    transform: scale(0.7) translateY(10px);
  }
}

.form {
  width: 770px;
  height: 620px;
  border: 3px solid black;
  box-shadow: #f3f5f7 15px 15px;
  border-radius: 80px;
  margin-right: 20px;
  margin-top: 10px;
}
.form .cancel {
  position: absolute;
  font-size: 20px;
  color: black;
  top: 5%;
  left: 83%;
  background-color: white;
  border: none;
}
.form .cancel:hover {
  color: #e6b106;
}
.form h2 {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
  margin-top: 40px;
}
.method {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px 10px;
  height: 60px;
  width: 60px;
  margin-bottom: 150px;
  margin-top: 10px;
  margin-left: 80%;
}
img {
  height: 40px;
  width: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  padding: 6px;
}
.h4 {
  color: #e6b106;
  opacity: 100%;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 0px;
  margin-left: 90px;
}
.input {
  height: 33px;
  width: 70%;
  margin-left: 90px;
  text-align: center;
  font-size: 17px;
  box-shadow: #f3f5f7 10px 10px;
  color: black;
  margin-top: 5px;
  border-radius: 15px;
  margin-bottom: 0px;
}
button {
  background-color: black;
  color: #f3f5f7;
  height: 40px;
  width: 120px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  position: absolute;
  left: 63%;
  top: 560px;
  border-radius: 20px;
}
button:hover {
  color: black;
  background-color: #f3f5f7;
}
.one {
  font-size: 40px;
  color: #07255e;
}
.two {
  font-size: 40px;
  color: #07255e;
}
@media (max-width: 700px) {
  .side {
    font-size: 20px;
    margin-left: 15px;
  }
  .side span {
    font-size: 20px;
    margin-left: 0px;
  }
  .arrow i {
    font-size: 30px;
    position: relative;
    left: -50px;
    top: -70px;
  }
  button {
    width: 100px;
    height: 30px;
    font-size: 10px;
    position: relative;
    top: -120px;
    left: 150px;
  }

  .form {
    width: 450px;
    height: 500px;
  }
  .method {
    padding: 3px 5px;
    height: 40px;
    width: 40px;
    margin-bottom: 150px;
    margin-top: 10px;
    margin-left: 60%;
  }
  .h4 {
    font-size: 16px;
    margin-left: 50px;
  }

  .form h2 {
    font-size: 16px;
  }
  .rd {
    position: relative;
    left: -20px;
  }
  .input {
    height: 15px;
    width: 250px;
    margin-left: 10%;
    font-size: 10px;
    box-shadow: #f3f5f7 3px 3px;
  }
  ::placeholder {
    font-size: 14px;
  }

  .form .cancel {
    font-size: 13px;
    top: 6%;
    left: 78%;
  }

  footer {
    width: 100%;
    height: 290px;
    position: relative;
    top: 300px;
  }
  .hr2 {
    width: 300px;
    left: 25%;
  }
  .copy {
    font-size: 10px;
    left: 35%;
  }
  h3 {
    font-size: 15px;
    font-weight: 300;
  }
  h4 {
    font-size: 10px;
    font-weight: 200;
    opacity: 70%;
  }
  .col1 {
    left: 25%;
  }
  .col2 {
    left: 75%;
  }
  .col3 {
    left: 2%;
  }
  .col4 {
    left: 50%;
  }
  .logo {
    height: 25px;
    width: 25px;
    margin-left: 10%;
    font-size: 55px;
  }
}

@media (max-width: 500px) {
  .side {
    font-size: 15px;
    margin-left: 0px;
  }
  .side span {
    font-size: 15px;
    margin-left: 0px;
  }
  .arrow i {
    font-size: 35px;
    position: relative;
    left: -50px;
    top: -70px;
  }
  button {
    width: 100px;
    height: 30px;
    font-size: 10px;
    position: relative;
    top: -120px;
    left: 70px;
  }

  .form {
    width: 450px;
    height: 500px;
  }
  .method {
    padding: 3px 5px;
    height: 20px;
    width: 20px;
    margin-bottom: 150px;
    margin-top: 10px;
    margin-left: 40%;
  }
  .h4 {
    font-size: 13px;
  }

  .form h2 {
    font-size: 15px;
  }
  .rd {
    margin-right: 10%;
  }
  .input {
    height: 15px;
    width: 150px;
    margin-left: 30%;
    font-size: 10px;
    box-shadow: #f3f5f7 3px 3px;
  }
  ::placeholder {
    font-size: 10px;
  }

  .form .cancel {
    font-size: 10px;
    width: 80px;
    height: 20px;
    left: 76%;
  }
  footer {
    width: 100%;
    height: 290px;
    position: relative;
    top: 250px;
  }
  .hr2 {
    width: 250px;
    left: 25%;
  }
  .copy {
    font-size: 10px;
    left: 35%;
  }
  h3 {
    font-size: 13px;
    font-weight: 300;
  }
  h4 {
    font-size: 13px;
    font-weight: 200;
    opacity: 70%;
  }
  .col1 {
    left: 20%;
  }
  .col2 {
    left: 70%;
  }
  .col3 {
    left: 2%;
  }
  .col4 {
    left: 45%;
  }
  .logo {
    height: 20px;
    width: 20px;
    margin-left: 7%;
    font-size: 50px;
  }
}
.btn {
  width: 150px;
  height: 30px;
  background-color: black;
  border: black solid 1px;
  margin-top: 20px;
  margin-left: 280px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 18px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  color: white;
}
.rate-btn button {
  display: block;
  background-color: black;
  border: #e6b106 solid 2px;
  margin-top: 5%;
  margin-left: 10%;

  height: 30px;
  width: 140px;
  text-align: center;
}
.rate-btn button:hover {
  background-color: #e6b106;
  color: black;
}
