body {
  background-color: white;
  font-family: 'Playfair Display', serif;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, black, #e6b106);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #e6b106, black);
}
nav {
  display: flex;

  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  height: 75px;
}
.navs {
  flex: 1;
  text-align: right;
  margin-right: 3%;
}
.navs ul li:hover {
  transform: scale(1.3);
  z-index: 2;
}
.navs ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 3px 12px;
  transition: 1s;
  font-weight: bold;
}

.navs ul li a {
  text-decoration: none;
  font-size: 20px;

  color: black;
  font-weight: 400px;
}
.navs ul li a .fas {
  font-size: 33px;
  cursor: pointer;
}

.navs ul li a:hover {
  color: #e6b106;
}

.logo {
  height: 25px;
  width: 25px;
  color: #e6b106;
  font-family: 'Satisfy', cursive;
  font-weight: bolder;
  margin-left: 150px;
  font-size: 70px;
  margin-top: 0px;
}
span {
  color: black;
  margin-top: 1px;
}

.profilei {
  color: black;
}
.profilei:hover {
  color: #e6b106;
}
footer {
  background-color: black;
  height: 310px;
  position: relative;
  top: 200px;
  left: 0;
  bottom: 0;
  width: 100%;
}
.col1 {
  position: absolute;
  color: rgba(255, 255, 255, 0.671);
  left: 30%;
}
.col2 {
  position: absolute;
  color: rgba(255, 255, 255, 0.801);
  left: 80%;
}
.col3 {
  position: absolute;
  color: rgba(255, 255, 255, 0.801);
  left: 5%;
}
.col4 {
  position: absolute;
  color: rgba(255, 255, 255, 0.801);
  left: 60%;
}
.col4 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}
.col1 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}
.col2 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}
.col3 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}

.hr2 {
  position: absolute;
  height: 0.1px;
  opacity: 70%;
  background-color: rgba(255, 255, 255, 0.801);
  width: 600px;
  top: 75%;
  left: 28%;
}
.copy {
  position: absolute;
  top: 80%;
  left: 40%;
  color: rgba(255, 255, 255, 0.801);
}
h3 {
  font-size: 20px;
  font-weight: 300;
}
h4 {
  font-size: 15px;
  font-weight: 200;
  opacity: 70%;
}

* {
  box-sizing: border-box;
}
.sponsers {
  height: 170px;
  width: 100%;
  background-color: #f3f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  margin-top: 15px;
  transition: 1s;
}

.sponsers img:hover {
  transform: scale(1.1);
}
.sponsers img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
}
.slider {
  width: 1000px;
  text-align: center;
  overflow: hidden;
  margin: 5% 17%;
}
.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, black, #e6b106);
  border-radius: 15px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: center;
  flex-shrink: 0;
  width: 900px;
  height: 500px;
  margin-right: 50px;
  border-radius: 10px;
  background: linear-gradient(
    -45deg,
    #e6b106,
    #f3f5f7,
    white,
    #f3f5f7,
    #e6b106
  );
  border: black solid 3px;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  box-shadow: 4px 4px 5px 6px gray;
  transform-origin: center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}
.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: black;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
  color: white;
}
.slider a:hover {
  top: 1px;
  background: #f3f5f7;
  color: black;
}
.text i {
  position: absolute;
  top: 133%;
  left: 50%;
  font-size: 40px;
}
@keyframes arrow {
  50% {
    opacity: 0;
    transform: scale(0.7) translate3d(5px);
  }
}
.prf {
  width: 150px;
  height: 180px;
  font-size: 170px;
  position: fixed;
  top: -20px;
  left: 15px;
}
.rf {
  width: 100px;
  height: 100px;
  margin: 50% 50%;
  background-color: white;
}
.sh {
  position: absolute;
  top: 16%;
  left: 77%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  color: white;
}
#sh {
  position: absolute;
  left: -50%;
  top: -5%;
}
.srch_box {
  margin-left: 80%;
  margin-top: 2%;
  height: 35px;
  width: 230px;
  border-radius: 20px;
  background-color: #fff;
  color: black;
  box-shadow: #f3f5f7 7px 7px;
  border: black 1px 1px 1px 1px;
  font-size: 20px;
}
::placeholder {
  color: #3a465c;
  text-align: center;
}
.box {
  background: transparent;
  width: 700px;
  height: 300px;
  border-radius: 10px;
  border: 10%;
  border-style: double;
  border-color: black;
}
.box p {
  color: black;
  font-size: 20px;
}
.box span {
  margin-left: -30%;
  margin-top: -2%;
  font-size: 30px;
  color: #e6b106;
  font-weight: 900;
}
.form {
  width: 720px;
  height: 350px;
  background-color: #fff;
  border: black solid 1px;
  box-shadow: 4px 4px 5px 6px gray;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10%;
  margin-left: 25%;
  border-radius: 20px;
  padding: 25px;
}

label {
  color: black;
  margin-left: 40%;
  margin-bottom: -15px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.form input {
  width: 300px;
  height: 35px;
  background-color: transparent;
  border-radius: 10px;
  color: #e6b106;
  font-size: 15px;
  margin-top: 35px;
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.btn {
  width: 150px;
  height: 30px;
  background-color: black;
  border: black solid 1px;
  margin-top: 20px;
  margin-left: 280px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 18px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  color: white;
}
.rate-btn button {
  display: block;
  background-color: black;
  border: #e6b106 solid 2px;
  margin-top: 5%;
  margin-left: 10%;
  text-align: center;
  height: 30px;
  width: 140px;
  text-align: center;
}
.rate-btn button:hover {
  background-color: #e6b106;
  color: black;
}
.text {
  background: #f3f5f7;
  font-size: 30px;
  width: 100%;
  height: 150px;
  border: none;
  border-radius: 10px;
  text-align: center;
}
.text p {
  color: black;
  text-align: center;
  font-size: 25px;
}
.text span {
  text-align: center;
  color: black;
  font-weight: 300;
}
.rev {
  height: 50px;
  width: 100px;
  margin: -32% 60%;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.fc {
  color: white;
  position: absolute;
  top: 20%;
  left: 67%;
  height: 120px;
  width: 130px;
  border-radius: 30px;
  font-size: 11px;
  text-align: center;
  background-color: #3b5998;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.fc:hover {
  transform: scale(1.1);
  z-index: 2;
}
.go {
  color: white;
  position: absolute;
  top: 20%;
  left: 10%;
  height: 120px;
  width: 130px;
  border-radius: 30px;
  font-size: 11px;
  text-align: center;
  background-color: #ae4335;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.insta {
  color: white;
  position: absolute;
  top: 20%;
  left: 10%;
  height: 120px;
  width: 130px;
  border-radius: 30px;
  font-size: 11px;
  text-align: center;
  background-image: linear-gradient(#c41c5c, purple, yellow);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.insta:hover {
  transform: scale(1.1);
  z-index: 2;
}
.go:hover {
  transform: scale(1.1);
  z-index: 2;
}
.grid-cell-1:hover {
  transform: scale(1.1);
  z-index: 2;
}
.grid-cell-2:hover {
  transform: scale(1.1);
  z-index: 2;
}

.grid-cell-1 {
  background-color: #898989;
  position: absolute;
  top: 45%;
  left: 10%;
  height: 120px;
  width: 130px;
  border-radius: 30px;
  font-size: 11px;
  text-align: center;
  border: black solid 1px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.grid-cell-2 {
  position: absolute;
  top: 45%;
  left: 40%;
  height: 120px;
  width: 130px;
  border-radius: 30px;
  font-size: 11px;
  text-align: center;
  border: black solid 1px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.grid {
  margin-left: 10%;
  margin-top: 75%;
  height: 120px;
  width: 280px;
  border-radius: 30px;
  font-size: 12px;
  text-align: center;
  border: black solid 1px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.grid:hover {
  transform: scale(1.1);
  z-index: 2;
}
.grid a {
  text-decoration: none;
  color: black;
  position: relative;
  top: -35%;
}
.grid-cell-4 {
  position: absolute;
  top: 70%;
  left: 40%;
  height: 130px;
  width: 130px;
  border: black solid 1px;
  border-radius: 30px;
  font-size: 11px;
  text-align: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.grid-cell-5 {
  background-color: #3b5998;
  position: absolute;
  top: 45%;
  left: 69%;
  height: 260px;
  width: 118px;
  border-radius: 30px;
  font-size: 11px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  color: white;
}
.grid-cell-5 i {
  padding-top: 30px;
}
.container1#blur.active {
  filter: blur(20px);

  pointer-events: none;
  user-select: none;
}
.photo {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 39%;
}
#popup1 {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 500px;
  height: 550px;
  background: #fff;
  box-shadow: 4px 4px 5px 6px gray;
  border-radius: 30px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
#popup2 {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 500px;
  height: 550px;
  background: #fff;
  box-shadow: 4px 4px 5px 6px gray;
  border-radius: 30px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
#popup3 {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 500px;
  height: 550px;
  background: #fff;
  box-shadow: 4px 4px 5px 6px gray;
  border-radius: 30px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
#popup4 {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 500px;
  height: 550px;
  background: #fff;
  box-shadow: 4px 4px 5px 6px gray;
  border-radius: 30px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
#popup5 {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 500px;
  height: 550px;
  background: #fff;
  box-shadow: 4px 4px 5px 6px gray;
  border-radius: 30px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
#popup6 {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 500px;
  height: 550px;
  background: #fff;
  box-shadow: 4px 4px 5px 6px gray;
  border-radius: 30px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
#popup6 {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 500px;
  height: 550px;
  background: #fff;
  box-shadow: 4px 4px 5px 6px gray;
  border-radius: 30px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
#popup7 {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 500px;
  height: 550px;
  background: #fff;
  box-shadow: 4px 4px 5px 6px gray;
  border-radius: 30px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
#popup8 {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 500px;
  height: 550px;
  background: #fff;
  box-shadow: 4px 4px 5px 6px gray;
  border-radius: 30px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
#popup10 {
  position: absolute;

  top: -20%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 500px;
  height: 550px;
  background: #fff;
  box-shadow: 4px 4px 5px 6px gray;
  border-radius: 30px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
#popup9 {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 500px;
  height: 550px;
  background: #fff;
  box-shadow: 4px 4px 5px 6px gray;
  border-radius: 30px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.close {
  position: fixed;
  font-size: 40px;
  color: black;
  background-color: #fff;
  text-decoration: none;
  font-weight: bold;
  left: 90%;
  top: 2%;
}
#popup1.active {
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
}
#popup2.active {
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
}
#popup3.active {
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
}
#popup4.active {
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
}
#popup5.active {
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
}
#popup6.active {
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
}
#popup7.active {
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
}
#popup8.active {
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
}
#popup10.active {
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
}
.container1 {
  transition: 0.5s;
  position: relative;
  width: 100%;
  height: 100vh;
}










@media (max-width: 500px) {
  .navs ul li a {
    font-size: 10px;
  }
  .navs ul li a .fas {
    font-size: 20px;
  }
  footer {
    width: 100%;
    height: 290px;
    position: relative;
    top: 250px;
  }
  .rate-btn{
    width:3px;
  
  }
  .hr2 {
    width: 250px;
    left: 25%;
  }
  .copy {
    font-size: 10px;
    left: 35%;
  }
  h3 {
    font-size: 13px;
    font-weight: 300;
  }
  h4 {
    font-size: 13px;
    font-weight: 200;
    opacity: 70%;
  }
  .col1 {
    left: 20%;
  }
  .col2 {
    left: 70%;
  }
  .col3 {
    left: 2%;
  }
  .col4 {
    left: 45%;
  }
  .logo {
    height: 20px;
    width: 20px;
    margin-left: 7%;
    font-size: 50px;
  }
  .sponsers {
    height: 100px;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
  }
  .sponsers img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
  }
  .slider {
    width: 400px;
    margin: 7% 3%;
  }
  .slides > div {
    width: 400px;
    height: 300px;
    margin-right: 30px;
    font-size: 30px;
  }
  .slider > a {
    width: 1.3rem;
    height: 1.3rem;
  }
  .text i {
    position: absolute;
    top: 140%;
    left: 45%;
    font-size: 25px;
  }
  .prf {
    width:30px;
    height: 30px;
    font-size: 110px;
    top: -40px;
    left: 7px;
  }
  .rf {
    width: 80px;
    height: 80px;
    margin: 40% 40%;
  }
  .sh {
    top: 15%;
    left: 60%;
    width: 20px;
    height: 20px;
  }
  .text {
    font-size: 20px;
  }
  .text p {
    font-size: 20px;
  }
  .srch_box {
    margin-left: 60%;
    height: 20px;
    width: 140px;
    font-size: 10px;
  }
  .box {
    width: 300px;
    height: 200px;
  }
  .box p {
    color: black;
    font-size: 15px;
  }
  .box span {
    margin-left: -50%;
    margin-top: -2%;
    font-size: 15px;
  }
  .form {
    width: 400px;
    height: 250px;
    top: 100px;
    margin-left: 5%;
    padding: 15px;
  }
  label {
    margin-left: 100px;
    font-size: 15px;
  }
  .form input {
    width: 250px;
    height: 30px;
    font-size: 10px;
    margin-top: 35px;
    margin-left: 80px;
  }
  .btn {
    width: 80px;
    height: 20px;
    margin-top: 25px;
    margin-left: 180px;
    font-size: 10px;
  }
  .btn:hover {
    color: black;
    background-color: #f3f5f7;
  }
  .text {
    background: #f3f5f7;
    font-size: 20px;
    width: 100%;
    height: 140px;
    border-radius: 10px;
  }
  .text p {
    font-size: 20px;
  }

  .rev {
    height: 40px;
    width: 90px;
    margin: -42% 70%;
  }

  .fc {
    top: 15%;
    left: 60%;
    height: 50px;
    width:50px;
    font-size: 7px;
  }
  .go {
    top: 15%;
    left: 5%;
    height: 50px;
    width: 50px;
    font-size: 7px;
  }
  .insta{
    top: 15%;
    left: 5%;
    height: 50px;
    width: 50px;
  }
  .grid-cell-1 {
    top: 40%;
    left: 3%;
    height: 70px;
    width: 70px;
    font-size: 5px;
  }

  .grid-cell-2 {
    top: 40%;
    left: 30%;
    height: 70px;
    width: 70px;
    font-size: 5px;
  }

  .grid {
    margin-top: 60%;
    left: 3%;
    height:50px;
    width: 90px;
    font-size: 5px;
  }

  .grid-cell-5 {
    top: 45%;
    left: 60%;
    height: 110px;
    width: 60px;
    font-size: 5px;
  }
  .grid-cell-5 i {
    padding-top: 15px;
  }
  .photo {
    height: 60px;
    width: 60px;
    top: 5px;
    left: 37%;
  }
  #popup1 {
    position: absolute;
    top: -15%;
    left: 40%;
    width: 300px;
    height: 250px;
  }
  #popup2 {
    position: absolute;
    top: -15%;
    left: 40%;
    width: 300px;
    height: 250px;
  }
  #popup3 {
    position: absolute;
    top: -15%;
    left: 40%;
    width: 300px;
    height: 250px;
  }
  #popup4 {
    position: absolute;
    top: -15%;
    left: 40%;
    width: 300px;
    height: 250px;
  }
  #popup5 {
    position: absolute;
    top: -15%;
    left: 40%;
    width: 300px;
    height: 250px;
  }
  #popup6 {
    position: absolute;
    top: -15%;
    left: 40%;
    width: 300px;
    height: 250px;
  }
  #popup7 {
    position: absolute;
    top: -15%;
    left: 40%;
    width: 300px;
    height: 250px;
  }
  #popup8 {
    position: absolute;
    top: -15%;
    left: 40%;
    width: 300px;
    height: 250px;
  }
  #popup9 {
    position: absolute;
    top: -15%;
    left: 40%;
    width: 300px;
    height: 250px;
  }

  #popup10 {
    position: absolute;
    top: -15%;
    left: 40%;
    width: 300px;
    height: 250px;
  }
  .auto{
    width:200px;
    height: 700px;
    font-size: 10px;
  }
}
.auto-popup {
  height: 360px;
  width: 500px;
  background-color: #fff;
  border: black solid 1px;
  position: absolute;
  transform: translate(-50%, 50%);
  top: 210%;
  left: 50%;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 4px 4px 5px 6px gray;
  border: black solid 3px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

#popup9.active {
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
}

.auto {
  position: absolute;
  top: 25%;
  left: 15%;
  height: 100px;
  width: 350px;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
}
i {
  color: transparent;
  cursor: pointer;
  color: #cccccc;
  margin-top: 24%;
  height: 10px;
  width: 55px;
}

form .stars {
  font-size: 10px;
}

.del {
  width: 100px;
  height: 20px;
  background-color: white;
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 10px;
}

span strong {
  color: #e6b106;
  padding: 0 30px;
  font-family: sans-serif;
}

em {
  color: #e6b106;
  display: block;
  font-family: sans-serif;
  font-style: normal;
}
.auto-form button {
  position: fixed;
  top: 300px;
  left: 200px;
  width: 100px;
  height: 40px;
  background-color: #e6b106;
  color: white;
  border-style: none;
  border-radius: 30px;
  font-size: 18px;
}
button:hover {
  color: white;
  background-color: #e6b106;
  transform: scale(1.3);
  z-index: 2;
}