body {
  background-color: white;
  font-family: 'Playfair Display', serif;
}

li {
  display: inline-block;
  list-style: none;
}

ul {
  margin-top: 3%;
}

hr {
  width: 300px;
  height: 2px;
  background-color: #e6b106;
  margin-left: 0%;
  margin-top: 8%;
}

p {
  color: #e6b106;
  font-size: 35px;
  font-weight: bold;
}

span {
  color: black;
  margin-top: 1px;
}

.loginimg {
  margin-left: 66%;
  margin-top: 8%;
}

.triangle {
  background-color: white;
  height: 80vh;
  width: 90vh;
  margin-left: 18%;
  margin-top: -79%;
  border-radius: 20px;
  position: relative;
  box-shadow: black 3px 3px 3px 3px;
  animation-name: t;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes t {
  from {
    translate: 0 0;
  }

  to {
    translate: 0 500px;
  }
}

.triangle h1 {
  color: black;
  text-align: center;
  position: relative;
  font-size: 25px;
  padding: 6%;
  text-decoration: underline;
}

.sign img {
  border-radius: 90px;
  top: -5%;
  left: -12%;
  position: absolute;
}

.sign .stars {
  color: #ffce38;
  margin-left: 70%;
}

.sign {
  background-color: white;
  height: 80vh;
  width: 90vh;
  border-radius: 20px;
  margin-left: -23%;
  margin-top: 12%;
  position: absolute;
  padding-top: 2%;
  top: 18%;
  left: 7%;
  box-shadow: black 3px 3px 3px 3px;
  border-radius: 30px;
  animation-name: s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes s {
  from {
    translate: 0 0;
  }

  to {
    translate: 400px 0;
  }
}
.label {
  color: black;
  font-size: 20px;

  margin-left: 10px;
}
input {
  height: 25px;
  width: 250px;
  border-radius: 20px;
  text-align: center;
  color: black;
}
.txt {
  position: absolute;
  top: 10%;
  left: 3%;
}

.email {
  position: absolute;
  top: 10%;
  left: 52%;
}
.password {
  position: absolute;
  top: 22%;
  left: 3%;
}
.conpass {
  position: absolute;
  top: 22%;
  left: 52%;
}
.phone {
  position: absolute;
  top: 34%;
  left: 3%;
}
.Address {
  position: absolute;
  top: 34%;
  left: 52%;
}
.select {
  position: absolute;
  top: 46%;
  left: 3%;
}
select {
  height: 30px;
  width: 250px;
  border-radius: 20px;
  text-align: center;
  color: black;
}
.bdate {
  position: absolute;
  top: 46%;
  left: 52%;
}
.labelgender {
  position: absolute;
  top: 60%;
  left: 4%;
  color: black;
  font-size: 25px;
}
.rd {
  height: 40px;
  width: 40px;
  font-size: 30px;
  position: absolute;
  top: 60%;
  left: 12%;
}
.type1 {
  color: #e6b106;
  position: absolute;
  top: 55%;
  left: 42%;
  font-size: 25px;
}
.type2 {
  color: #e6b106;
  position: absolute;
  top: 63%;
  left: 42%;
  font-size: 25px;
}
.btn {
  background-color: black;
  color: #f3f5f7;
  height: 35px;
  width: 140px;
  position: absolute;
  top: 82%;
  left: 39%;
  font-size: 20px;
  border-radius: 20px;
}
.btn:hover {
  background-color: #f3f5f7;
  color: black;
  transition: 1s;
  transform: scale(1.1);
  z-index: 2;
}
select:hover {
  transform: scale(1.1);
  z-index: 2;
}

input[type='submit']:hover {
  border: 1px solid;
  transition: 1s;
  background: #dd1717;
}

input:hover {
  transform: scale(1.1);
  z-index: 2;
}

footer {
  background-color: black;
  height: 310px;
  position: relative;
  top: 720px;
  left: 0;
  bottom: 0;
  width: 100%;
}
.col1 {
  position: absolute;
  color: rgba(255, 255, 255, 0.671);
  left: 30%;
}
.col2 {
  position: absolute;
  color: rgba(255, 255, 255, 0.801);
  left: 80%;
}
.col3 {
  position: absolute;
  color: rgba(255, 255, 255, 0.801);
  left: 5%;
}
.col4 {
  position: absolute;
  color: rgba(255, 255, 255, 0.801);
  left: 60%;
}
.col4 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}
.col1 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}
.col2 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}
.col3 a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}

.hr2 {
  position: absolute;
  height: 0.1px;
  opacity: 70%;
  background-color: rgba(255, 255, 255, 0.801);
  width: 600px;
  top: 45%;
  left: 28%;
}
.copy {
  position: absolute;
  top: 80%;
  left: 40%;
  color: rgba(255, 255, 255, 0.801);
}
h3 {
  font-size: 20px;
  font-weight: 300;
}
h4 {
  font-size: 15px;
  font-weight: 200;
  opacity: 70%;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, black, #e6b106);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #e6b106, black);
}
.first1 {
  position: absolute;
  top: 10%;
}
.second2 {
  position: absolute;
  top: 10%;
  left: 45%;
}

@media (max-width: 700px) {
  .triangle {
    height: 70vh;
    width: 65vh;
    margin-left: 14%;
    margin-top: -68%;
  }

  .loginimg {
    display: none;
  }

  .triangle h1 {
    font-size: 25px;
  }

  .sign {
    height: 65vh;
    width: 67vh;
    margin-left: -55%;
    margin-top: 30%;
    padding-top: 2%;
    top: 18%;
    left: 0%;
  }

  .label {
    color: black;
    font-size: 15px;
    margin-left: 7%;
  }
  input {
    height: 20px;
    width: 170px;
    margin-left: 15px;
  }

  select {
    height: 22px;
    width: 170px;
    margin-left: 15px;
    margin-top: 5px;
  }

  .labelgender {
    top: 60%;
    left: 5%;
    font-size: 15px;
  }
  .rd {
    height: 20px;
    width: 20px;
    font-size: 20px;
    top: 62%;
    left: 8%;
  }
  .type1 {
    top: 56%;
    left: 35%;
    font-size: 20px;
  }
  .type2 {
    top: 63%;
    left: 35%;
    font-size: 20px;
  }
  .btn {
    height: 35px;
    width: 120px;
    top: 80%;
    left: 39%;
    font-size: 15px;
  }

  .navs ul li a {
    font-size: 10px;
  }
  .navs ul li a .fas {
    font-size: 20px;
  }
  footer {
    width: 100%;
    height: 290px;
    position: relative;
    top: 650px;
  }
  .hr2 {
    width: 250px;
    left: 25%;
  }
  .copy {
    font-size: 10px;
    left: 35%;
  }
  h3 {
    font-size: 13px;
    font-weight: 300;
  }
  h4 {
    font-size: 13px;
    font-weight: 200;
    opacity: 70%;
  }
  .col1 {
    left: 20%;
  }
  .col2 {
    left: 70%;
  }
  .col3 {
    left: 2%;
  }
  .col4 {
    left: 45%;
  }
  .logo {
    height: 20px;
    width: 20px;
    margin-left: 7%;
    font-size: 50px;
  }
}
